RewriteEngine On    # Turn on the rewriting engine

#Prevents Automatic directory listings
Options -Indexes

# Rule to check if the first arg is numeric, if so send it as param
RewriteRule    ^([0-9]+)?$    index.php?param=$1   [L]

# Controller/Action/Param Rules
RewriteRule    ^([0-9a-zA-Z_]+)/([0-9a-zA-Z_]+)/([0-9a-zA-Z_]+)?$ index.php?controller=$1&action=$2&param=$3    [L]
RewriteRule    ^([0-9a-zA-Z_]+)/([0-9a-zA-Z_]+)?$ index.php?controller=$1&action=$2    [L]
RewriteRule    ^([0-9a-zA-Z_]+)?$    index.php?controller=$1   [L]
