RewriteEngine On    # Turn on the rewriting engine

RewriteRule    ^([a-z]+)/([a-z]+)/([0-9]*)?$ index.php?controller=$1&action=$2&id=$3    [L] #handles controller/action/id
RewriteRule    ^([a-z]+)/([a-z]+)/?$ index.php?controller=$1&action=$2    [L] #handles controller/action
RewriteRule    ^([a-z]+)/?$    index.php?controller=$1   [L]    # Handle requests for controller